<br>
<div class="container">
  <div class="row">
    <div class="well col-sm-6 col-sm-offset-3">
      <h3><%= @creature.name %></h3>
       <p>Description: <%=  @creature.description %></p>
      <%= link_to "Edit", edit_creature_path(@creature) %>
    </div>

  </div>
</div>
