<h2>Bog App</h2>
<% @creatures.each do |creature| %>
<p>
  <strong>Name:</strong> <%= creature.name %> <br>
  <strong>Description:</strong> <%= creature.description %>
</p>
<% end %>
<%= link_to "Add New Creature", new_creature_path %>
